<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.semanticsoftware.semassist.android.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	
	<supports-screens android:largeScreens="true"
			android:smallScreens="true" 
			android:anyDensity="true"
			android:normalScreens="true"/>
	
    <application
        android:icon="@drawable/sa_logo"
        android:label="@string/app_name" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SemanticAssistantsActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="Semantic Assistants">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SemanticResultsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".GlobalSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <service
			android:name="info.semanticsoftware.semassist.android.service.SemanticAssistantsService"
			android:process=":semassist_process" 
			android:label="semassist">
            <intent-filter android:label="Semantic Assistants">
                <action android:name="PERSON_DETECTOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</service>
		
        <receiver android:name="info.semanticsoftware.semassist.android.service.SemanticAssistantsBroadcastReceiver"></receiver>
    </application>

</manifest>