<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      
      <category
            name="Semantic Assistants"
            id="SemanticAssistants.commands.category">
      </category>
      <command
            name="Available Assistants"
            categoryId="SemanticAssistants.commands.category"
            id="SemanticAssistants.commands.sampleCommand">
      </command>
      
      <command
            name="Global Settings"
            categoryId="SemanticAssistants.commands.category"
            id="SemanticAssistants.commands.settingsCommand">
      </command>
      
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="info.semanticsoftware.semassist.client.eclipse.handlers.FileSelectionHandler"
            commandId="SemanticAssistants.commands.sampleCommand">
      </handler>
      
      <handler
            class="info.semanticsoftware.semassist.client.eclipse.handlers.ServiceSettingsHandler"
            commandId="SemanticAssistants.commands.settingsCommand">
	  </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SemanticAssistants.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+S"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      
            <key
            commandId="SemanticAssistants.commands.settingsCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M3+S"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Semantic Assistants"
               mnemonic="M"
               id="SemanticAssistants.menus.sampleMenu">
            <command
                  commandId="SemanticAssistants.commands.sampleCommand"
                  mnemonic="A"
                  id="SemanticAssistants.menus.sampleCommand">
            </command>
			<command
                  commandId="SemanticAssistants.commands.settingsCommand"
                  mnemonic="S"
                  id="SemanticAssistants.menus.settingsCommand">
 			</command>
            

         </menu>
         
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="SemanticAssistants.toolbars.sampleToolbar">
            <command
                  commandId="SemanticAssistants.commands.sampleCommand"
                  tooltip="Open Semantic Assistants"
                  id="SemanticAssistants.toolbars.sampleCommand">
            </command>
            
            <command
                  commandId="SemanticAssistants.commands.settingsCommand"
                  tooltip="Open Semantic Assistants Settings"
                  id="SemanticAssistants.toolbars.settingsCommand">
         	</command>
         </toolbar>
      </menuContribution>
     
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="SemanticAssistants"
            name="Semantic Assistants">
      </category>
      <view
            category="SemanticAssistants"
            class="info.semanticsoftware.semassist.client.eclipse.views.SemanticAssistantsView"
            id="info.semanticsoftware.semassist.client.eclipse.views.SemanticAssistantsView"
            name="Semantic Assistants"
            restorable="false">
      </view>
      <view
            category="SemanticAssistants"
            class="info.semanticsoftware.semassist.client.eclipse.views.SemanticAssistantsStatusView"
            id="info.semanticsoftware.semassist.client.eclipse.views.SemanticAssistantsStatusView"
            name="Semantic Assistants Status"
            restorable="false">
      </view>
   </extension>
   <extension
         id="SemanticAssistants.markers"
         name="Semantic Assistants Annotations"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="SemanticAssistants.markers.lineNumber">
      </attribute>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="SemanticAssistants.markers.message">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="SemanticAssistants.markers"
            name="SemanticAssistants.annotations"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>

</plugin>
